<settings>
  <profiles>
    <profile>
      <id>bytedance-repos</id>
      <repositories>
        <repository>
          <id>snapshots-repo</id>
          <url>https://maven.byted.org/repository/sonatype-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>apache-snapshots-repo</id>
          <url>https://repository.apache.org/content/repositories/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>central</id>
          <name>Maven Repository Switchboard</name>
          <layout>default</layout>
          <url>https://maven.byted.org/repository/central</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>cloudera-repo</id>
          <url>${cloudera.repo.url}</url>
          <releases>
            <enabled>${cloudera.repo.enabled}</enabled>
          </releases>
          <snapshots>
            <enabled>${cloudera.repo.enabled}</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>cloudera-repo-fallback</id>
          <url>${cloudera.repo.url.fallback}</url>
          <releases>
            <enabled>${cloudera.repo.enabled}</enabled>
          </releases>
          <snapshots>
            <enabled>${cloudera.repo.enabled}</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>bytedance-snapshots</id>
          <url>https://maven.byted.org/repository/snapshots</url>
        </repository>
        <repository>
          <id>bytedance-releases</id>
          <url>https://maven.byted.org/repository/releases</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>bytedance-repo</id>
          <url>https://maven.byted.org/repository/public</url>
        </pluginRepository>
        <pluginRepository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>cloudera-repo</id>
          <url>${cloudera.repo.url}</url>
          <releases>
            <enabled>${cloudera.repo.enabled}</enabled>
          </releases>
          <snapshots>
            <enabled>${cloudera.repo.enabled}</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>cloudera-repo-fallback</id>
          <url>${cloudera.repo.url.fallback}</url>
          <releases>
            <enabled>${cloudera.repo.enabled}</enabled>
          </releases>
          <snapshots>
            <enabled>${cloudera.repo.enabled}</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>bytedance-repo</id>
          <url>https://maven.byted.org/repository/public</url>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <altSnapshotDeploymentRepository>
          bytedance-snapshots::default::file:${user.home}/.source/
        </altSnapshotDeploymentRepository>
        <altReleaseDeploymentRepository>
          bytedance-releases::default::file:${user.home}/.source/
        </altReleaseDeploymentRepository>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>bytedance-repos</activeProfile>
  </activeProfiles>
</settings>